.game-ui p , h1, h2, h3{
        margin: 0px;
    }

.game-ui{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 52px 32px;
}

.game-ui .game-details-container{
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.game-ui .players-container{
    display: flex;
    margin-top: 32px;
    gap: 16px;
}